.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/backgroungImage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  